body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: #04151F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#calculator {
    background-color: #7A542E;
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
}


#top {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: brown;
    flex: 1 1 0%;
    padding: 3%;
}

#screen {
    width: 100%;
    height: 60%;
    background-color: antiquewhite;
    text-align: end;
    font-size: xx-large;
}

#controls {
    background-color: gray;
    flex: 2 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 1%;
}

.btn-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: stretch;
    flex: 1 0 0%;
}

.btn {
    background-color: aquamarine;
    border: 1px solid black;
    flex: 1 0 0%;
    text-align: center;
    font-size: xx-large;
}

.btn:hover {
    background-color: white;
}

